@import "fonts.module";
@import "vars.module";


.primary-font {
  font-family: 'Jolly Lodger';
}

.secondary-font {
  font-family: 'Rubik';
}

.title {
  color: $orange;
  font-size: $font-size-lg;
  text-transform: uppercase;
  font-family: 'Jolly Lodger';
  text-align: center;
  margin-bottom: 100px;
}

.wrapper {
  background-color: $secondary;
  padding-top: 100px;
}