@font-face {
  font-family: 'Jolly Lodger';
  src: url(../assets/fonts/JollyLodger-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Rubik';
  src: url(../assets/fonts/Rubik-Regular.ttf) format('truetype');
}