@import "./../../../styles/vars.module";


.main-background {
  background: linear-gradient(180.00deg, rgba(0, 0, 0, 0) 69.987%, rgb(0, 0, 21) 100%), url("../../../assets/img/main-bg.jpg"),
  no-repeat;
  background-size: cover;
  height: 900px;

  .hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 320px;
  }

  .arrow-down {
    display: flex;
    justify-content: center;
    position: relative;

    button {
      background: none;
      position: absolute;
      top: 160px;
    }
  }

}






